* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: flex-end;
}

/* -------------------------------------- */

/* Header */
.item-header {
  margin: 5px;
  color: white;
  font-weight: 400;
}

.color-bg {
  background-color: #4a4a4a;
  display: inline-block;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px 5px;
}

.fa-expand-arrows-alt {
  font-weight: 600;
  padding: 4px;
}
/*  */
